<drag-and-drop
  :enabled="!landingVisible && !fileUploadDialog"
  v-on:drop="openFileList"
>
  <template v-slot:default="{ dragHover }">
    <v-app>
<!-- BGH the style below changes from initial to fixed when sample is selected
   and then takes over the whole screeen?
 -->
      <v-content
        :id="$style.appContent"
        :style="{
          position: landingVisible ? 'initial' : 'fixed',
        }"
      >

      <landing
          v-if="landingVisible"
          key="if-landing"
          v-on:open-urls="autoLoadRemotes"
        />
<!-- BGH autoLoadRemotes loads sample when clicking on image -->
        <layout-view v-else key="if-landing" />
      </v-content>
      <!-- error dialog-->
      <component
        :is="dialogType"
        v-model="errorDialog"
        max-width="50%"
      >
        <error-box
          :errors="errors"
          v-on:close="errorDialog = false"
          v-on:clear="errors = []"
        />
      </component>
    </v-app>
  </template>
</drag-and-drop>
