<div class="grey lighten-3" :id="$style.root">
  <v-container class="mt-4 pv-no-select" grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12>
        <v-layout row align-center justify-space-between>
          <span class="title">ShellDesign</span>
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark small v-bind="attrs" v-on="on">DesignCases</v-btn>
            </template>
            <v-list>
              <v-list-item v-for="(sample, idx) in samples" :key="idx" @click.stop="openSample(sample)">
                <v-list-item-title>{{ sample.label }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-layout>
      </v-flex>
      <v-flex
        v-for="(sample, i) in samples"
        :key="i"
        :xs4="$vuetify.breakpoint.mdAndUp"
        :xs6="$vuetify.breakpoint.sm"
        :xs12="$vuetify.breakpoint.xs"
      >
        <v-card :class="$style.sampleData" flat tile>
          <v-img :src="sample.image" height="300px" />
          <div
            :class="$style.linkOverlay"
            @click.stop="openSample(sample)"
          >
            <div :class="$style.linkOverlayText" class="body-2">
              {{ sample.label }} ({{ sample.size }})
              <div :class="$style.description" v-if="sample.description">
                {{ sample.description }}
              </div>
              <div :class="$style.acknowledgement" v-if="sample.acknowledgement">
                {{ sample.acknowledgement }}
              </div>
            </div>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</div>
